* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
}
::selection {
  color: #95c11e;
  background-color: #fff;
}
#nav {
  width: 100%;
  height: 130px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 45px;
  padding: 0 100px;
  position: fixed;
  z-index: 99;
}
#nav img {
  width: 7%;
}
#nav a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.7s;
  /* mix-blend-mode: difference; */
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}
#cursor {
  width: 20px;
  height: 20px;
  background-color: #95c11e;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.7s;
  pointer-events: none;
}
#cursor-blur {
  width: 350px;
  height: 350px;
  background-color: #96c11e48;
  border-radius: 50%;
  position: fixed;
  z-index: 9;
  filter: blur(40px);
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.7s;
  pointer-events: none;
}
#main {
  position: relative;
  overflow: hidden;
  background-color: #0000004a;
}
#page1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 10;
}
#page1 h1 {
  font-size: 95px;
  font-weight: 900;
  position: relative;
  margin-bottom: 20px;
}
#page1 h1::before {
  content: "EAT. DRINK. PLAY.";
  position: absolute;
  color: #000;
  top: -4px;
  left: -4px;
  z-index: -1;
  -webkit-text-stroke: 2px #95c11e;
}
#page1 h5 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}
#page1 p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}
#page1 #arrow {
  height: 200px;
  width: 200px;
  background-color: transparent;
  border: 2.5px solid #95c11e;
  position: absolute;
  display: flex;
  left: -3%;
  bottom: 0%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all ease 0.5s;
}
#page1 #arrow i {
  font-size: 50px;
  font-weight: 100;
}
#page1 #arrow:hover {
  scale: 0.4;
  background-color: #95c11e;
}
#page2 {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  z-index: 10;
}
#scroller {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}
#scroll-div {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 15s linear infinite;
}
#scroller h4 {
  display: inline-block;
  white-space: nowrap;
  font-size: 100px;
  font-weight: 900;
  font-family: "poppins";
  margin-right: 12px;
  -webkit-text-stroke: 2px #95c11e;
  color: #000;
  transition: all linear 0.4s;
  cursor: pointer;
}
@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 17.1px));
  }
}
#scroller::-webkit-scrollbar {
  display: none;
}
#scroller h4:hover {
  color: #95c11e;
}
#page2 #info {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 0 10px;
  position: relative;
  z-index: 10;
}
#info #mid-txt {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#info #mid-txt p {
  font-size: 17px;
  line-height: 35px;
  position: relative;
  font-weight: 400;
}
#info #mid-txt h1 {
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
}
#page2 #info #img1 {
  width: 10%;
  height: 55%;
  object-fit: cover;
  border-radius: 10px;
}
#page2 #info #img2 {
  width: 12%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
}
#card-wrapper {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  perspective: 300px;
  position: relative;
  z-index: 10;
}
#card-wrapper > img {
  width: 12%;
  /* height: 30%; */
  position: absolute;
  top: -20%;
  left: 10%;
  rotate: 90deg;
}
#card-wrapper .card {
  width: 366px;
  height: 490px;
  border-radius: 15px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: all ease 0.6s;
  transform-style: preserve-3d;
}
#card-wrapper #img1 {
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card-wrapper #img2 {
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card-wrapper #img3 {
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card-wrapper .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#card-wrapper .card .overlay {
  width: 366px;
  height: 490px;
  background-color: #95c11e;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 100px 10px 0 10px;
  position: relative;
  opacity: 0;
  transition: all ease 0.6s;
}
#card-wrapper .card:hover .overlay {
  opacity: 1;
}
.card .overlay h4 {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
}
.card .overlay p {
  font-size: 17px;
  line-height: 30px;
  margin-top: 10px;
  font-weight: 400;
  color: #000;
}
.card .overlay p:nth-child(3) {
  margin-top: 20px;
}
.card .overlay i {
  position: absolute;
  font-size: 40px;
  color: #000;
  font-weight: 10;
  padding: 25px 25px;
  border-radius: 50%;
  border: 2px solid #000;
  top: -5%;
  right: -7%;
  transition: all ease 0.4s;
  cursor: pointer;
}
.card .overlay i:hover {
  background-color: #fff;
  color: #95c11e;
}
#signup-content {
  width: 100%;
  height: 250px;
  background: linear-gradient(to top right, #b3e824, #95c11e, #039c3d);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  /* overflow: hidden; */
  padding: 0 10px;
}
#signup-content img {
  width: 15%;
  height: 100%;
  object-fit: cover;
  /* -webkit-box-reflect: left; */
}
#signup-content p {
  font-size: 21px;
  font-weight: 900;
  color: #000;
}
#page3 {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#page3 p {
  font-size: 22px;
  line-height: 46px;
  font-weight: 900;
  color: #fff;
  text-align: center;
}
#page3 > img {
  width: 4%;
}
#page3 > img:nth-child(2) {
  position: absolute;
  top: 28%;
  left: 10%;
}
#page3 > img:nth-child(3) {
  position: absolute;
  top: 62%;
  right: 10%;
}
#page4 {
  width: 100vw;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
}
.elem {
  width: 27%;
  height: 55%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  position: relative;
}
.elem h2 {
  width: 100%;
  height: 100%;
  background-color: #95c11e;
  font-size: 26px;
  color: #000;
  font-weight: 800;
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
}
.elem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
  scale: 1.1;
}
.elem:hover h2 {
  color: #fff;
  background-color: transparent;
}
.elem:hover img {
  scale: 1;
}
#page4 > h1 {
  position: absolute;
  top: 0;
  font-size: 90px;
  font-weight: 900;
  font-family: "gilroy";
  -webkit-text-stroke: 2px #fff;
  color: #000;
}
#footer {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.5vw;
  padding: 0 100px;
}
#footer > img {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 0;
}
#f1 img {
  height: 100px;
}
#f1,
#f2,
#f3,
#f4 {
  width: fit-content;
  position: relative;
  z-index: 99;
  transition: all ease 0.5s;
}
#f2 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  margin-bottom: 8px;
}

#f3 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
  margin-bottom: 8px;
}
#f4 h4 {
  font-size: 1vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}
#icon1 {
  position: absolute;
  bottom: 15%;
}
#icon1 i {
  font-size: 32px;
  color: #000;
  margin-right: 5px;
  translate: all ease 1s;
  z-index: 10;
}
body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background: #95c11e;
}
body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 50px;
}
